<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Par biedrību</title>
        <link rel="stylesheet" href="/css/css.css" />
         <link rel="icon" type="image/x-icon" href="/biedribas_logo.ico">
    </head>
    <body>
        <nav class="nav-bar">
            <img class="left-priev" alt="Latvijas prievites" src="/images/prievites_nobackground.png" />

            <div class="nav-info-container">
                <img class="logo" src="/images/biedribas_logo.png" alt="Biedribas logo" />
                <ul class="nav-options-container">
                    <li><a href="/">Sākums</a></li>
                    <li><a href="/jaunumi">Jaunumi</a></li>
                    <li><a href="/veikals">Veikals</a></li>
                    <li style="font-weight: bold"><a href="#">Par biedrību</a></li>
                    <li><a href="/kontakti">Kontakti</a></li>
                </ul>
                <form class="nav-form" method="get">
                    <input class="nav-search" placeholder="Meklēt..." type="text" />
                    <button type="submit">
                        <img src="/images/search_icon.png" alt="Meklēt" />
                    </button>
                </form>
            </div>
            <img class="right-priev" alt="Latvijas prievites" src="/images/prievites_nobackground.png" />
        </nav>
        <div class="main-about-container">
            <div class="about-info-container">
                <h1>Par biedrību</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ipsum qui atque impedit sapiente
                    optio esse. Ipsam deleniti quam eligendi quisquam, tempore inventore, doloremque, quas accusamus
                    dignissimos ab quaerat quis! Libero magni nobis distinctio error autem, aperiam eius incidunt quod
                    voluptas! Perspiciatis in aliquam velit pariatur eos rem, reiciendis dolorem ea eaque laboriosam
                    repudiandae nihil possimus magnam tenetur sunt ipsa ex dolorum natus maiores a ducimus saepe,
                    aliquid nisi dolores. Quisquam non eum voluptatibus optio deleniti reprehenderit maxime veritatis
                    quas.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit illo molestiae quidem libero
                    harum dignissimos molestias fuga cupiditate optio suscipit? Cupiditate necessitatibus minima quas
                    aperiam veritatis unde neque cum, quisquam et alias? Vero in officia praesentium commodi quidem,
                    modi cupiditate incidunt! Quia doloribus enim deleniti, dolor magnam ut officiis suscipit sequi
                    porro ab laboriosam illum quis rerum optio! Rem, quaerat?
                </p>
                <img src="/images/par_biedribu.jpg" alt="Biedribas bilde" />
            </div>
        </div>
    </body>
</html>
