<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kļūda 404</title>
        <link rel="stylesheet" href="/css/css.css" />
         <link rel="icon" type="image/x-icon" href="/biedribas_logo.ico">
    </head>
    <body>
        <nav class="nav-bar">
            <img class="left-priev" alt="Latvijas prievites" src="/images/prievites_nobackground.png" />

            <div class="nav-info-container">
                <img class="logo" src="/images/biedribas_logo.png" alt="Biedribas logo" />
                <ul class="nav-options-container">
                    <li><a href="/">Sākums</a></li>
                    <li><a href="/jaunumi">Jaunumi</a></li>
                    <li><a href="/veikals">Veikals</a></li>
                    <li><a href="/par-biedribu">Par biedrību</a></li>
                    <li><a href="/kontakti">Kontakti</a></li>
                </ul>
                <form class="nav-form" method="get">
                    <input class="nav-search" placeholder="Meklēt..." type="text" />
                    <button type="submit">
                        <img src="/images/search_icon.png" alt="Meklēt" />
                    </button>
                </form>
            </div>
            <img class="right-priev" alt="Latvijas prievites" src="/images/prievites_nobackground.png" />
        </nav>
        <h1 style="text-align: center" th:text="${message}"></h1>
    </body>
</html>
