<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jaunumi</title>
        <link rel="stylesheet" href="/css/css.css" />
        <link rel="icon" type="image/x-icon" href="/biedribas_logo.ico" />
    </head>
    <body>
        <nav class="nav-bar">
            <img class="left-priev" alt="Latvijas prievites" src="/images/prievites_nobackground.png" />

            <div class="nav-info-container">
                <img class="logo" src="/images/biedribas_logo.png" alt="Biedribas logo" />
                <ul class="nav-options-container">
                    <li><a href="/">Sākums</a></li>
                    <li style="font-weight: bold"><a href="#">Jaunumi</a></li>
                    <li><a href="/veikals">Veikals</a></li>
                    <li><a href="/par-biedribu">Par biedrību</a></li>
                    <li><a href="/kontakti">Kontakti</a></li>
                </ul>
                <form class="nav-form" method="get">
                    <input class="nav-search" placeholder="Meklēt..." type="text" />
                    <button type="submit">
                        <img src="/images/search_icon.png" alt="Meklēt" />
                    </button>
                </form>
            </div>
            <img class="right-priev" alt="Latvijas prievites" src="/images/prievites_nobackground.png" />
        </nav>

        <div class="main-events-container">
            <div class="options-container">
                <div class="sort-container">
                    <form method="get">
                        <select th:onchange="if(this.value) window.location.href=this.value" id="sort">
                            <!-- "if (this.value) window.location.href=this.value" -->
                            <option value="" selected>Kārtot</option>
                            <option value="/jaunumi/sort/asc">Pēc vecākā</option>
                            <option value="/jaunumi/sort/desc">Pēc jaunākā</option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="events-container">
                <div class="event" th:each="event : ${events}">
                    <img
                        th:src="${!event.pasakumaBilde.isEmpty()} ? '/images/pasakumi/'+${event.pasakumaBilde.get(0).atsauceUzBildi} : '/images/no_foto.png'"
                        alt=""
                    />
                    <h2 th:text="${event.nosaukums}"></h2>
                    <p th:text="'No '+${{event.sakumaDatums}}"></p>
                    <p th:text="'Līdz '+${{event.beiguDatums}}"></p>
                    <p th:text="${event.apraksts}"></p>
                </div>
            </div>
        </div>
    </body>
</html>
