<html xmlns:th="http://www.thymeleaf.org">

<body>

    <p>Viens pircejs</p>
    <br>
    <p th:text="${mydata.getId_pirc()}"></p>
    <p th:text="${mydata.getVards()}"></p>
    <p th:text="${mydata.getUzvards()}"></p>
    <p th:text="${mydata.getEpasts()}"></p>
    <p th:text="${mydata.getAdrese()}"></p>
    <p th:text="${mydata.getPersonas_kods()}"></p>
    <p th:text="${mydata.getBankas_nosaukums()}"></p>
    <p th:text="${mydata.getBankas_SWIFT_kods()}"></p>
    <p th:text="${mydata.getBankas_kods()}"></p>
    

</body>

</html>