<html xmlns:th="http://www.thymeleaf.org">

<body>

    <p>Viens pircejs</p>
    <br>
    <p th:text="${mydata.getIdpirc()}"></p>
    <p th:text="${mydata.getVards()}"></p>
    <p th:text="${mydata.getUzvards()}"></p>
    <p th:text="${mydata.getEpasts()}"></p>
    <p th:text="${mydata.getAdrese()}"></p>
    <p th:text="${mydata.getPersonasKods()}"></p>
    <p th:text="${mydata.getBankasNosaukums()}"></p>
    <p th:text="${mydata.getBankasSwiftKods()}"></p>
    <p th:text="${mydata.getBankasKods()}"></p>
    

</body>

</html>