<!DOCTYPE html>
<html>
<body>

	<p>Lūdzu aizpildi laukus!</p>

	<form th:action = "@{/preces/bilde/update/__${id}__}" method = "post" th:object="${bilde}">
		
		<table>
			<tr>
				<td>Bildes nosaukums</td>
				<td><input type="text" th:field="*{bilde}"/></td>
				<td th:if="${#fields.hasErrors('bilde')}" th:errors="*{bilde}"></td>
			</tr>
			<tr>
				<td>Apraksts</td>
				<td><input type="text" th:field="*{apraksts}"/></td>
				<td th:if="${#fields.hasErrors('apraksts')}" th:errors="*{apraksts}"></td>
			</tr>				
		</table>
		
		<button type="update">Atjaunot</button>
		
		
	</form>

</body>
</html>