<html xmlns:th="http://www.thymeleaf.org">

<body>

    <p>Rediget samaksas veidu</p>
    <br>

    <form th:action="@{/samaksas/veids/update/__${id}__}" method="post" th:object="${samaksas_veids}">
        <table>
            <tr>
                <td>Nosaukums</td>
                <td><input type="text" th:field="*{nosaukums}" /> </td>
                <td th:if="${#fields.hasErrors('nosaukums')}" th:errors="*{nosaukums}"></td>
            </tr>
            <tr>
                <td>Piezimes</td>
                <td><input type="text" th:field="*{piezimes}" /> </td>
                <td th:if="${#fields.hasErrors('piezimes')}" th:errors="*{piezimes}"></td>
            </tr>
        </table> 

        <button type="submit">Save</button>
    </form>

</body>

</html>