<!DOCTYPE html>
<html lang="lv">
  <head>
    <meta charset="UTF-8" />
    <title>Pasūtījums nosūtīts – Sparni.lv</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #fbe9d0;
        padding: 20px;
      }
      .container {
        max-width: 600px;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        margin: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .footer {
        margin-top: 30px;
        font-size: 12px;
        color: #888;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Jūsu pasūtījums ir nosūtīts!</h2>
      <p>Sveiki, {{name}}!</p>

      <p>
        Informējam, ka jūsu pasūtījums <strong>ir nosūtīts</strong> un drīzumā
        tiks piegādāts.
      </p>

      <p>{{comment}}</p>
      <p>Paldies, ka izvēlējāties Sparni.lv!</p>

      <div class="footer">
        Šī ir automātiska vēstule – lūdzu, neatbildiet uz to.<br />
        Ja jums ir jautājumi, lūdzu, sazinieties ar mūsu klientu atbalsta
        dienestu.
      </div>
      <div class="footer">
        Ar cieņu,<br />
        Sparni.lv komanda
      </div>
    </div>
  </body>
</html>
